version: "3.8"

services:
  db:
    image: postgres:15-alpine
    container_name: smarthr360_db
    environment:
      POSTGRES_DB: smarthr360
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - smarthr360-network

  redis:
    image: redis:7-alpine
    container_name: smarthr360_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - smarthr360-network

  web:
    build:
      context: ..
      dockerfile: docker/Dockerfile.web
    container_name: smarthr360_web
    ports:
      - "8000:8000"
    env_file:
      - ../.env.docker
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - smarthr360-network
    stdin_open: true
    tty: true
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
      - ml_models_volume:/app/artifacts/models
      - logs_volume:/app/logs

  celery_worker:
    build:
      context: ..
      dockerfile: docker/Dockerfile.celery
    container_name: smarthr360_celery_worker
    env_file:
      - ../.env.docker
    depends_on:
      - db
      - redis
    networks:
      - smarthr360-network
    volumes:
      - logs_volume:/app/logs
      - ml_models_volume:/app/artifacts/models

  celery_beat:
    build:
      context: ..
      dockerfile: docker/Dockerfile.celery
    container_name: smarthr360_celery_beat
    command: celery -A config beat --loglevel=info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    env_file:
      - ../.env.docker
    depends_on:
      - db
      - redis
    networks:
      - smarthr360-network
  nginx:
    build:
      context: ..
      dockerfile: docker/Dockerfile.nginx
    container_name: smarthr360_nginx
    ports:
      - "80:80"
    depends_on:
      - web
    networks:
      - smarthr360-network

volumes:
  postgres_data:
  redis_data:
  static_volume:
  media_volume:
  ml_models_volume:
  logs_volume:

networks:
  smarthr360-network:
    driver: bridge
