apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: smarthr360

resources:
  - 00-namespace.yaml
  - 02-secrets.yaml
  - 03-persistent-volumes.yaml
  - 10-postgres.yaml
  - 11-redis.yaml
  - 20-api-deployment.yaml
  - 21-celery-worker.yaml
  - 22-celery-beat.yaml
  - 30-ingress.yaml
  - 40-hpa.yaml
  - 50-network-policies.yaml
  - 60-rbac-pdb.yaml

# Images to be patched by overlays
images:
  - name: smarthr360-api
    newName: ghcr.io/nawfalrazouk7/smarthr360-api
    newTag: main
  - name: smarthr360-celery
    newName: ghcr.io/nawfalrazouk7/smarthr360-celery
    newTag: main
  - name: smarthr360-nginx
    newName: ghcr.io/nawfalrazouk7/smarthr360-nginx
    newTag: main
